{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  Czas czytania:
  {% if words < 180 %}
    mniej niż 1 minuta
  {% elsif words < 360 %}
    1 minuta
  {% else %}
    {{ words | divided_by:180 }} minut
  {% endif %}
{% endif %}
{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  Czas czytania:
  {% if words < 180 %}
    mniej niż 1 minuta
  {% elsif words < 360 %}
    1 minuta
  {% else %}
    {{ words | divided_by:180 }} minut
  {% endif %}
{% endif %}
